<li><b><%= question.content %></b></li>
<ol type="A" style="margin-left: 50px;">
  <% chosen_answer_ids = test.answer_ids_of_question question.id %>
  <% question.answers.each do |answer| %>
    <% if chosen_answer_ids.include? answer.id %>
      <% if answer.is_correct == true %>
        <b style="color: green"><li><%= answer.content %></li></b>
      <% else %>
        <b style="color: red"><li><%= answer.content %></li></b>
      <% end %>
    <% else %>
      <li><%= answer.content %></li>
    <% end %>
  <% end %>
</ol>
<br/>
