<div class="content-wrapper">
  <%= form_for [:trainee, @report] do |f| %>
    <%= render "form_report", f: f %>
    <div class="col-md-12 submit-report">
      <%= f.submit t(".send"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
