<% provide :title, t(".title") %>

<div class="content-wrapper">
  <h3 class="panel-title"> <%= t ".title" %></h3>
  <% if current_user.admin? %>
    <%= render "supervisor/courses/course", courses: @admincourses %>
  <% elsif current_user.supervisor? %>
    <%= render "supervisor/courses/course", courses: @courses %>
  <% end %>
</div>
