<div class="content-wrapper">
  <%= form_for [:supervisor, @course] do |f| %>
    <div class="row">
      <div class="col-md-4 course">
        <h3><%= t ".create_course" %></h3>
        <%= render "form_course", course: f %>
      </div>
    </div>
    <div class="col-md-12 submit-course">
      <%= f.submit t(".create"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
