<div class="col-md-3 card-size">
  <div class="card">
    <div class="topBar"></div>
    <div class="card-body">
      <h3 class="title-course"><%= course.name %></h3>
      <span class="short-description"><%= course.description %></span>
    </div>
    <div class="card-footer">
      <%= link_to t(".learn"), learn_path(course.id), class:"btn btn-success" %>
    </div>
  </div>
</div>
