<%= provide :title, t(".title") %>

<h2 class="text-center"><%= t ".all_members" %></h2>
<div class="content-wrapper">
  <div id="paginator">
    <%= paginate @members, remote: true, theme: "twitter-bootstrap-4" %>
  </div>
  <div id="members">
    <%= render "users" %>
  </div>
</div>
