<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= t "mailer.hi", name: @supervisor.name %></h3>
    <p><%= t "mailer.mothly_report" %></p>
  </body>
</html>
