<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t "mailer.welcome", name: @user.name %></h1>
    <p><%= t "mailer.remove_from_course", name: @course.name %></p>
    <p><%= t "mailer.sorry" %></p>
  </body>
</html>
