default: &default
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  host: localhost
  username: username
  password: password

development:
  <<: *default
  database: fts_development

test:
  <<: *default
  database: fts_test

production:
  <<: *default
  database: fts
