<div class="row">
  <% @supervisors.each do |supervisor| %>
    <div class="col-md-4 each-member">
      <div class="avatar">
        <%= image_tag get_avatar(supervisor), class:"avatar" %>
      </div>
      <div class="info-member">
        <h3><%= supervisor.name %></h3>
        <p><%= supervisor.email %></p>
        <%= link_to t(".view"), user_path(supervisor.id),
          class:"btn pull-left bt-view" %>
      </div>
    </div>
  <% end %>
</div>
