$white_smoke: #efefef;
$white: #fff;
$victoria: #544f7b;
$charcoal: #484848;
$scampi: #69639a;
$regalBlue: #204056;
$zircon: #e9eaea;
$azure: #f0feff;
$springRain: #afcaa2;
$gumLeaf: #a1c1ac;
$hintOfGreen: #dff0d8;
$frostee: #d6e9c6;
$killarney: #468847;
$red: #ff0000;
$monochromatic: #ddd;
$whiteSmoke: #f5f5f5;
$gainsboro: #e3e3e3;
$neonBlue: #5C5CFF;
