.img-course {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.picture-course {
  background-color: $white;
}

.avt-course {
  vertical-align: middle;
  height: 11.5rem;
}

#info-course {
  padding-top: 20px;
}

.topLine {
  color: $victoria;
}

.card-size{
  padding-bottom: 20px;
}

.link-card {
  height: 12.5rem;
  color: $charcoal;
}

.topBar {
  background-color: $scampi;
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  width: 100%;
}

.submit-course {
  margin: auto;
  text-align: center;
}

.subjects, .course {
  min-height: 20px;
  background-color: $whiteSmoke;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px inset;
  padding: 19px;
  border-width: 1px;
  border-style: solid;
  border-color: $gainsboro;
  border-image: initial;
  border-radius: 4px;
  margin: 10px auto;
}

.subject {
  border-bottom: 2px dashed $monochromatic;
  margin-bottom: 10px;
}

.task {
  width: 80%;
  margin-left: auto;
}

#form_subject, #form_task {
  margin: auto;
}

#supervisor-edit-trainee, #edit-profile {
  margin: auto;
}

.progress-bar {
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar {
  background-color: #20c997;
}
