.container-fluid {
  padding: 0 30px 25px;
}

.learn{
  margin-left:50px;
  margin-right:50px;
}

.new-object{
  margin-bottom:10px;
}

.fa-trash {
  color: $red;
}

.inc, .made_in, .located {
  display: inline-block;
  font-size: 0.875rem;
  width: 30%;
}

.flash {
  margin: auto;
}

.error {
  margin: auto;
}

h3, h4 {
  text-align: center;
}

.alert-notice {
  background-color: $hintOfGreen;
  border-color: frostee;
  color: $killarney;
  text-align: left;
}

label.required:after{
  content: " *";
  color: $red;
}
