table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}

.table-admin{
  margin-left:30px;
  margin-right:30px;
}

table.dataTable thead .sorting_asc:after {
  content: '\f0de';
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: '\f0dd';
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: '\f0dc';
  float: right;
  font-family: fontawesome;
}

.filterable {
  margin-top: 15px;
  .panel-heading .pull-right {margin-top: -20px;}
  .filters{
    input[disabled] {
      background-color: transparent;
      border: none;
      cursor: auto;
      box-shadow: none;
      padding: 0;
      height: auto;
    }
    input[disabled]::-webkit-input-placeholder {color: $color_mine_shaft_approx;}
    input[disabled]::-moz-placeholder {color: $color_mine_shaft_approx;}
    input[disabled]:-ms-input-placeholder {color: $color_mine_shaft_approx;}
  }
}
