<div class="content-wrapper">
  <div class="content-footer">
    <div class="inc"><%= t ".inc" %></div>
    <div class="made_in"><%= t ".made_in" %></div>
    <div class="located"><%= t ".located" %></div>
  </div>
</div>
